<style>
	.message-content{
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 24px;
	}
</style>
<div class="message-content">
	<p>Olá {{name}}</p>
	<p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário.</p>
	<p>Clique no link abaixo para redefinir sua senha</p>
	<p>
		<a href="^{{link}}">Resetar minha senha</a>
	</p>
	<p>Caso não tenha realizado essa solicitação, descarte este Email</p>
	<br/>
	<p>Obrigado!</p>
	<p>Equipe API Vendas</p>
</div>
